
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Poppins', sans-serif;
}

header
{
    margin: 40px 20px 20px 20px;
}





.profiles__member
{
    margin: 0;
    width: 145px;
    flex-grow: 1;
    
    &__image
    {
        display: flex;
        width: 100%;
    }

    img
    {
        width: 85%;
        display: inline;
    }
    
    &__role
    {
        writing-mode: vertical-lr;
        font-size: 10px;
    }

    &__name
    {
        font-weight: bold;
    }
}



@media(min-width: 768px){

    body
    {
        margin: 0 auto;
        max-width: 900px;
    }

    header
    {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        .description-container
        {
            margin: 0;
            width: 350px;
        }
    }
    .card-profile
    {
        margin: 0;
        width: 200px;
    }

    .card-profile--mobil-desktop
    {
        margin-top: 50px;
    }
}


